<div id="sidebar">
  <header>
    <{% if page.layout == "index" %}h1{% else %}div{% endif %} class="site-title">
      <a href="{{ site.baseurl }}/">
        {% unless page.url == "/" %}
          <span class="back-arrow icon">{% include svg/back-arrow.svg %}</span>
        {% endunless %}
        {{ site.title }}
      </a>
    </{% if page.layout == "index" %}h1{% else %}div{% endif %}>
    <p class="lead">{{ site.description }}</p>
  </header>
  {% include sidebar-nav-links.html %}

  {% include sidebar-icon-links.html %}

  <a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?text=N%C3%B3nio%20-%20A%20plataforma%20que%20viola%20a%20sua%20privacidade.%20Saiba%20mais%20em">
Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div id="fb-root"></div>

<div class="fb-share-button" data-href="https://nonio.pt" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnonio.pt%2F&amp;src=sdkpreparse">Share</a></div>
</div>